img {
    width:  50%;
    height: 50%;
    float: left;
    margin: 0 2.5% 0% 0;
}

footer {
    float: left;
}

/* #source { */
    position: relative;
    top: 250px;
    right: 52.5%;
    
}

.clear-fix